

<div ng-app="onboardapp">
    <h2>Customer</h2>

    <div ng-controller="Customer">

        <button type="button" class="btn btn-default" ng-click="show()">Test</button>

        <button type="button" class="btn btn-default" ng-click="showsameController()">TestfromsameController</button>
        
    </div>

</div>



